.navbar-brand{
    font-family: cursive;
    text-shadow: -1px 2px rebeccapurple;
    font-weight: 600;
    font-size: 30px;
}
.card-img, .card-img-top{
    height: 360px;
}


body{
    background-color: #f8f9fa;
}

.card{
    border: none;
    border-radius: 15px;
}

.list-group-item{
    font-size: 18px;
}

.btn{
    border-radius: 10px;
}